# ===========================
# 📦 依存ディレクトリ
# ===========================
node_modules/
.pnp/
.pnp.js
.yarn/

# ===========================
# ⚒️ ビルド・出力ディレクトリ
# ===========================
.next/
out/
build/

# ===========================
# ✅ テスト出力
# ===========================
coverage/

# ===========================
# 🐛 ログファイル
# ===========================
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ===========================
# 💻 OS 固有ファイル
# ===========================
.DS_Store

# ===========================
# 🔐 セキュリティファイル
# ===========================
.env
.env.*
*.pem

# Firebase の serviceAccountキーなど
keys/
keys/*.json

# ===========================
# 🚀 Firebase / Vercel
# ===========================
.firebase/
firebase-debug.log
.vercel/
.vercel/output.json

# firebase config は除外しない
!firebase.json
!.firebaserc

# ===========================
# 🧠 TypeScript 関連
# ===========================
*.tsbuildinfo
next-env.d.ts

sa_base64.txt